<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gf.mapper.EmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gf.entity.Employee">
        <id column="id" property="id" />
        <result column="lastName" property="lastName" />
        <result column="email" property="email" />
        <result column="gender" property="gender" />
        <result column="d_id" property="dId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, lastName, email, gender, d_id
    </sql>

</mapper>
